@model FoodDonation.LogisticRequest

@{
    ViewData["Title"] = "LogisticsRequest";
}

<h1>Logistics Request</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="LogisticsRequest">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactNumber" class="control-label"></label>
                <input asp-for="ContactNumber" class="form-control" />
                <span asp-validation-for="ContactNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurposeofDonation" class="control-label"></label>
                <input asp-for="PurposeofDonation" class="form-control" />
                <span asp-validation-for="PurposeofDonation" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@{
	try
	{
		if (TempData["logisticrequeststatus"] != null)
		{
			if (TempData["logisticrequeststatus"].ToString().Equals("ok"))
			{
				<script>
					swal("Logistic Request Successfully Created!", "", "success");
				</script>
			}
			else
			{
				<script>
					swal("Logistic Request Failed!", "Please Try Again!", "error");
				</script>
			}

		}
	}
	catch { }
}