@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor accessor
@using FoodDonation
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FoodDonation</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FoodDonation.styles.css" asp-append-version="true" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Dashboard" asp-action="Index">Food Donation</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @{
                        try
                        {
                            if (accessor.HttpContext.Session.GetString("name") != null)
                            {
                                string name = accessor.HttpContext.Session.GetString("name");
								int? rollid = accessor.HttpContext.Session.GetInt32("role");
                                string donor= accessor.HttpContext.Session.GetString("category");

								<ul class="navbar-nav flex-grow-1 justify-content-end ">
                                  
									@if (rollid != null)
									{
										if (rollid == 1)//admin dashboard
										{
											<li class="nav-item btn btn-outline-primary" style="margin-right:1%;">
												<a class="nav-link" asp-area="" asp-controller="User" asp-action="FoodRequest">Food Request</a>
											</li>
                                            <li class="nav-item btn btn-outline-primary" style="margin-right:1%;">
												<a class="nav-link" asp-area="" asp-controller="User" asp-action="LogisticsRequest">Logistics Request</a>
											</li>
											<li class="nav-item btn btn-outline-primary" style="margin-right:1%;">
												<a class="nav-link" asp-area="" asp-controller="User" asp-action="ManageUser">Manage Users</a>
											</li>
											<li class="nav-item btn btn-outline-primary" style="margin-right:1%;">
												<a class="nav-link" asp-area="" asp-controller="User" asp-action="ViewUsers">View Users</a>
                                            </li>
                                            <li class="nav-item btn btn-outline-primary" style="margin-right:1%;">
												<a class="nav-link" asp-area="" asp-controller="User" asp-action="UserFoodRequest">Food Donation Request by Users </a>
                                            </li>
                                            <li class="nav-item btn btn-outline-primary" style="margin-right:1%;">
												<a class="nav-link" asp-area="" asp-controller="User" asp-action="UserLogisticRequest">Logistic Donation Request by Users</a>
                                            </li>
                                        }
                                        else if (rollid == 2 && donor=="Food Donor")//food donor users dashboard
                                        {
                                                
                                                <li class="nav-item btn btn-outline-primary" style="margin-right:1%;">
												   <a class="nav-link" asp-area="" asp-controller="User" asp-action="ViewFoodRequired">View Food Required</a>
                                                </li>
                                                <li class="nav-item btn btn-outline-primary" style="margin-right:1%;">
												   <a class="nav-link" asp-area="" asp-controller="User" asp-action="FoodDonationRequest">Food Donation Request</a>
											    </li>

                                         }
                                        else if(rollid == 2 && donor=="Logistics sponsor")//logistic donor users dashboard
                                        {
                                                
                                                <li class="nav-item btn btn-outline-primary" style="margin-right:1%;">
												   <a class="nav-link" asp-area="" asp-controller="User" asp-action="ViewLogisticRequired">View Logistic Required</a>
											    </li>
                                                <li class="nav-item btn btn-outline-primary" style="margin-right:1%;">
												   <a class="nav-link" asp-area="" asp-controller="User" asp-action="LogisticDonationRequest">Logistic Donation Request</a>
											    </li>
                                         }

										
									}
                                    <li class="nav-item btn btn-primary text-white" style="margin-right:1%;">
										<a class="nav-link text-white" asp-area="" asp-controller="Dashboard" asp-action="Index">Welcome, &nbsp; <span class="text-white">@name</span> </a>
									</li>
									<li class="nav-item btn btn-danger">
										<a class="nav-link text-dark" asp-area="" asp-controller="Accounts" asp-action="Logout">Logout</a>
									</li>
								</ul>
                            }
                        }
                        catch
                        { }
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - FoodDonation - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
